/* ==============================================
    HOME SECTION STYLES
================================================= */
.container {
	opacity: 0.90;
}

#home {
    background: url(../images/brickwall.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 100px; /* This is the space before the Main title Logo */
    padding-bottom: 50px; /* This is spacer after the Main title Logo */
    color: #000;
}

h1, h2 {
    font-weight: 900;
    text-shadow: 2px, 4px, 5px #fff;
}

#png1 {
    position: right;
    top:0;
    left:0;
    z-index:0;
}
/* ==============================================
    @MEDIA QUERIES  
================================================= */

@media all and (max-width:640px) and (min-width:381px) {
    .head-main {
        font-size: 28px;
    }
}
@media all and (max-width:381px) and (min-width:200px) {
    .head-main {
        font-size: 24px; 
    }
}

@media (min-width: 768) {
    .container {
        width: 750px;
    }
} 
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}